USE [master]
GO
/****** Object:  Database [QLBHS]    Script Date: 6/7/2017 2:58:20 PM ******/
CREATE DATABASE [QLBHS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBHS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBHS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBHS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBHS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBHS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBHS]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 6/7/2017 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[DMID] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[DMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Daugia]    Script Date: 6/7/2017 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daugia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SPID] [int] NULL,
	[f_ID] [int] NULL,
	[tinhtrang] [int] NULL,
	[giadau] [money] NULL,
	[ngay] [datetime] NULL,
 CONSTRAINT [PK_Daugia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaPH]    Script Date: 6/7/2017 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaPH](
	[PHID] [int] IDENTITY(1,1) NOT NULL,
	[TenPH] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_NhaPH] PRIMARY KEY CLUSTERED 
(
	[PHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/7/2017 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[SPID] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[MoTaNgan] [nvarchar](80) NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[Gia] [money] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TacGia] [nvarchar](80) NOT NULL,
	[SoTrang] [int] NOT NULL,
	[PHID] [int] NOT NULL,
	[KichThuoc] [nvarchar](50) NOT NULL,
	[TrongLuong] [int] NOT NULL,
	[NgayXB] [nvarchar](50) NOT NULL,
	[DMID] [int] NOT NULL,
	[NgayNhap] [datetime] NULL,
	[SoLuongBan] [int] NULL,
	[SoLuocXem] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[SPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/7/2017 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[f_ID] [int] IDENTITY(1,1) NOT NULL,
	[f_Username] [nvarchar](50) NOT NULL,
	[f_Password] [nvarchar](225) NOT NULL,
	[f_Name] [nvarchar](50) NOT NULL,
	[f_Email] [nvarchar](50) NOT NULL,
	[f_DOB] [datetime] NOT NULL,
	[f_Permission] [int] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[f_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([DMID], [TenDM]) VALUES (1, N'Sách Văn Học - Tiểu Thuyết')
INSERT [dbo].[DanhMuc] ([DMID], [TenDM]) VALUES (2, N'Sách Kinh Tế')
INSERT [dbo].[DanhMuc] ([DMID], [TenDM]) VALUES (3, N'Sách Thiếu Nhi')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
SET IDENTITY_INSERT [dbo].[NhaPH] ON 

INSERT [dbo].[NhaPH] ([PHID], [TenPH]) VALUES (1, N'Skybooks')
INSERT [dbo].[NhaPH] ([PHID], [TenPH]) VALUES (2, N'Phương Nam')
INSERT [dbo].[NhaPH] ([PHID], [TenPH]) VALUES (3, N'NXB Trẻ')
SET IDENTITY_INSERT [dbo].[NhaPH] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([f_ID], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission]) VALUES (1, N'yentu', N'E10ADC3949BA59ABBE56E057F20F883E', N'Từ yến', N'julietsu95@gmail.com', CAST(N'1995-09-04 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[TaiKhoan] ([f_ID], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission]) VALUES (5, N'phuongtu', N'202CB962AC59075B964B07152D234B70', N'phương từ', N'phuongtu@gmail.com', CAST(N'1994-02-13 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[TaiKhoan] ([f_ID], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission]) VALUES (6, N'yentu1', N'4297F44B13955235245B2497399D7A93', N'Từ yến', N'julietsu95@gmail.com', CAST(N'2016-06-11 00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
USE [master]
GO