
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="title-area clearfix main-color ">
    <div class="inner">
        <h1 class="title">My Account</h1>
        <nav class="woocommerce-breadcrumb"><a href="https://essential.prospekt-solutions.com">Home</a>&nbsp;/&nbsp;<a href="https://essential.prospekt-solutions.com/my-account/">My Account</a></nav>
    </div><!-- .inner -->
</div><!-- .title-area .clearfix -->

<div id="primary" class="content-area">

    <div class="inner">

        <div id="content" class="site-content" role="main">


            <article id="post-7" class="post-7 page type-page status-publish hentry">
                <div class="entry-wrap clearfix">

                    <div class="entry-content-wrap clearfix no-thumb">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <nav class="woocommerce-MyAccount-navigation">
                                    <ul>
                                        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard">
                                            <a href="https://essential.prospekt-solutions.com/my-account/">Dashboard</a>
                                        </li>
                                        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                                            <a href="https://essential.prospekt-solutions.com/my-account/orders/">Orders</a>
                                        </li>
                                        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
                                            <a href="https://essential.prospekt-solutions.com/my-account/downloads/">Downloads</a>
                                        </li>
                                        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
                                            <a href="https://essential.prospekt-solutions.com/my-account/edit-address/">Addresses</a>
                                        </li>
                                        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account is-active">
                                            <a href="@Url.Action("Detail","Account")">Account details</a>
                                        </li>
                                        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                                            <a href="https://essential.prospekt-solutions.com/my-account/customer-logout/">Logout</a>
                                        </li>
                                    </ul>
                                </nav>



                            </div>
                        </div><!-- .entry-content -->

                    </div><!-- .entry-content-wrap .clearfix .no-thumb -->
                </div><!-- .entry-wrap .clearfix -->
            </article><!-- #post-7 -->


        </div><!-- #content .site-content -->





    </div><!-- .inner -->

</div>

