
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section css{
    <style type="text/css">
        .error {
            color: #F00;
            background-color: #FFF;
        }
    </style>

}

@section js {



    <script src="~/wordpress/combodate-1.0.7/moment.js"></script>
    <script src="~/wordpress/jquery-validation-1.16.0/dist/jquery.validate.js"></script>
    <script src="~/wordpress/jquery-validation-1.16.0/dist/additional-methods.js"></script>
    <script src="~/wordpress/combodate-1.0.7/combodate.js"></script>
    <script type="text/javascript">
        jQuery(function($) {
  $( function() {
      $("#reg_birthday").combodate({
          firstItem: 'none',
          smartDays: true,
          minYear: 1975,
          maxYear: 2017,
      });
  });


  $("#frmregister").validate({
      rules: {
          username: {
              required: true,
          },
          Password: {
              required: true,
              minlength: 6
          },
          Confirmpassword: {
              equalTo: '#reg_Password'
          },
          Name: {
              required: true
          },
          email: {
              required: true
          },
          birthday: {
              required: true
          },

      },

      messages: {
          username: {
              required: 'Username cannot be empty'
          },
          Password: {
              required: 'Password cannot be empty',
              minlength: 'Must contain at least 6 more characters'
          },
          Confirmpassword: {
              equalTo: 'password does not match'
          },
          Name: {
              required: 'Name cannot be empty'
          },
          email: {
              required: 'Email cannot be empty'
          },
          birthday: {
              required: 'Birthday cannot be empty'
          },

      },
      highlight: function (element) {
          $(element).parent().addClass('errors')
      },
      unhighlight: function (element) {
          $(element).parent().removeClass('errors')
      },


  });
  });


    </script>


}




<div class="title-area clearfix main-color ">
    <div class="inner">
        <h1 class="title">My Account</h1>
        <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;My Account</nav>
    </div><!-- .inner -->
</div><!-- .title-area .clearfix -->

<div id="primary" class="content-area">

    <div class="inner">

        <div id="content" class="site-content" role="main">


            <article id="post-7" class="post-7 page type-page status-publish hentry">
                <div class="entry-wrap clearfix">

                    <div class="entry-content-wrap clearfix no-thumb">
                        <div class="entry-content">
                            <div class="woocommerce">
                                @if (ViewBag.err != null)
                                {
                                    <div class="woocommerce-error">

                                        <label>@ViewBag.err</label>
                                    </div>
                                }



                                <div class="u-columns col2-set" id="customer_login">
                                    <div class="u-column1 col-1">

                                        <h2>Login</h2>

                                        <form class="woocomerce-form woocommerce-form-login login" method="post">


                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                <label for="username">Username  <span class="required">*</span></label>
                                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" />
                                                <label class="error">@ViewBag.ER</label>
                                            </p>
                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                <label for="password">Password <span class="required">*</span></label>
                                                <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" />
                                            </p>

                                            <p class="form-row">
                                                <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="38e70cecbf" /><input type="hidden" name="_wp_http_referer" value="/my-account/" />				<input type="submit" class="woocommerce-Button button" name="login" formaction="@Url.Action("login","Account")" value="Login" />
                                                <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                                                    <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Remember me</span>
                                                </label>
                                            </p>
                                            <p class="woocommerce-LostPassword lost_password">
                                                <a href="lost-password/index.html">Lost your password?</a>
                                            </p>
                                            <input type="hidden" name="redirect" value="../index.html">
                                        </form>

                                    </div>

                                    <div class="u-column2 col-2">
                                        <h2>Register</h2>

                                        <form method="post" class="woocomerce-form woocommerce-form-login  register" id="frmregister">


                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                <label for="reg_username">User name <span class="required">*</span></label>
                                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="reg_username" />
                                                <label class="error">@ViewBag.ER</label>
                                            </p>

                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                <label for="reg_Password">Password <span class="required">*</span></label>
                                                <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="Password" id="reg_Password" value="" />
                                            </p>

                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                <label for="reg_Confirmpassword">Confirm password <span class="required">*</span></label>
                                                <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="Confirmpassword" id="reg_Confirmpassword" value="" />
                                            </p>

                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                <label for="reg_Name">Name <span class="required">*</span></label>
                                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="Name" id="reg_Name" value="" />
                                            </p>

                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                <label for="reg_email">Email address <span class="required">*</span></label>
                                                <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="reg_email" value="" />
                                            </p>

                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                <label for="reg_birthday">Birthday <span class="required">*</span></label>
                                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text " name="birthday" id="reg_birthday" data-format="DD/MM/YYYY" data-template="D MMM YYYY" value="26/06/1996" />
                                            </p>

                                            <!-- Spam Trap -->
                                            <div style="left: -999em; position: absolute;"><label for="trap">Anti-spam</label><input type="text" name="email_2" id="trap" tabindex="-1" autocomplete="off" /></div>

                                            <p class="woocomerce-FormRow form-row">
                                                <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" /><input type="hidden" name="_wp_http_referer" value="/my-account/" />				<input type="submit" class="woocommerce-Button button" name="action:register" value="Register" />
                                            </p>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .entry-content -->

                    </div><!-- .entry-content-wrap .clearfix .no-thumb -->
                </div><!-- .entry-wrap .clearfix -->
            </article><!-- #post-7 -->


        </div><!-- #content .site-content -->




    </div><!-- .inner -->

</div>

